div.box {
    float: left;
    width: 100px;
    height: 100px;
}
#board{
    display: inline-block;
    border: 1px solid black;
}
#board :nth-child(4n+1){
    clear: both;
}

.white{
    background: white;
}
.black{
    background: black;
}
.red{
    background: red;
}